@font-face {
  font-family: 'elisaNicole';
  src: url('elisanicole.eot');
  src: url('elisanicole.eot') format('embedded-opentype'), url('elisanicole.ttf') format('truetype'), url('elisanicole.woff') format('woff'), url('elisanicole.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
