h2,
h3,
p {
  padding-bottom: 15px;
}

body {
  color: $black;
  background-color: $white;
  font-family: $sans;
  font-size: 16px;
  line-height: 1.3em;
  font-weight: $normal;
  text-rendering: optimizeLegibility;
}

strong {
  font-weight: $bold;
  color: $pink;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  font-weight: $semi;
  color: $blue;

  @include mq(980px) {
    position: relative;

    &:before {
      content: '';
      position: absolute;
      width: 0;
      height: 1px;
      left: 50%;
      bottom: 0;
      background-color: $blue;
      transform: translateX(-50%);
      transition: 0.3s ease-in-out;
    }

    &:hover:before {
      width: 100%;
    }
  }
}

.main {
  padding: 132px 30px 0;
  position: relative;
  max-width: 100%;

  @include mq(700px) {
    margin-left: 30%;
    padding-top: 0;
    // background-color: #231f20;
    // color: #FFF;
  }
}

.h1 {
  font-weight: $bold;
  font-size: 28px;
  text-align: center;
  line-height: 1.2;
  margin-bottom: 80px;
  opacity: 1;
  visibility: visible;
  transition: 0.3s ease-in-out all;
  transition-delay: 0.3s;

  .is-hidden & {
    opacity: 0;
    visibility: hidden;
  }

  @include mq(700px) {
    font-size: 60px;
    margin: 60px 0;
  }

  span {
    display: block;
    white-space: nowrap;

    @include mq(600px) {
      display: inline;
      white-space: normal;

      &:after {
        content: ' - ';
      }

      &:last-child:after {
        display: none;
      }
    }
  }
}

.h2 {
  font-weight: $normal;
  font-size: 28px;
  line-height: 1.2;

  .dark & {
    color: $white;
  }

  @include mq(700px) {
    font-size: 36px;
    text-align: left;
  }
}

.h3 {
  font-weight: $normal;
  font-size: 20px;
  line-height: 1.4;

  .h4 + & {
    margin-top: 30px;
  }
}

.h4 {
  font-size: 18px;
  text-transform: uppercase;
  margin-top: 60px;

  .h3 + & {
    margin-top: 0;
  }
}

.h5 {
  margin: 15px 0;
  padding: 10px;
  color: $white;
  position: relative;

  span {
    position: relative;
    z-index: 1;
  }

  span span {
    font-weight: $semi;
    font-size:12px;
    display: block;
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
    transform: rotate(-1deg);
    background-color: $black;
  }

  &:first-of-type:after,
  &:last-of-type:after {
    transform: rotate(1deg);
  }
}

img {
  max-width: 100%;
}

.ul {
  margin-left: 30px;
  margin-bottom: 30px;

  li {
    position: relative;
    margin: 10px 0;
  }

  li:before {
    content: '';
    display: block;
    position: absolute;
    left: -15px;
    top: 6px;
    width: 5px;
    height: 5px;
    background-color: $purple;
    border-radius: 50%;
  }
}
