$sans:    "Open Sans", Helvetica, sans-serif;
$cursive: "Satisfy", cursive;
$icon:    "elisaNicole";
$serif:   "Merriweather", Helvetica, sans-serif;

$pink: #ec008c;
$blue: #00aeef;
$purple: #5052b5;
$grey: #aaaaaa;
$white: #ffffff;
$black: #231f20;

$primary-dark: #0d1a1a;
$primary-med: #004747;
$primary: #33cccc;
