.outer {
  max-width: 800px;
  margin: 0 auto 80px;
  opacity: 1;
  visibility: visible;
  transition: 0.3s ease-in-out all;
  transition-delay: 0.6s;

  .is-hidden .main & {
    opacity: 0;
    visibility: hidden;
  }

  &.footer,
  &.header {
    max-width: none;
    text-align: center;
    z-index: 99;
    margin: 0;
  }
}

section section {
  padding: 30px 0;
}

.outer-work > p:last-child {
  text-align: center;
}

.flex-col {
  @include mq(700px) {
    display: flex;
  }
}

.sticky {
  @include mq(700px) {
    top: 140px;
    position: sticky;
  }
}

.col-30 {
  @include mq(700px) {
    position: relative;
    width: 30%;
  }
}

.col-70 {
  @include mq(700px) {
    width: 70%;
    padding-left: 15px;
  }
}
