.footer {
  padding: 30px;
  color: $white;
  background-color: $black;
  font-size: 10px;
  transition: color 1s ease-in-out;

  > a {
    font-weight: $semi;
    position: relative;

    @include mq(980px) {
      &:hover {
        color: lighten($blue,25%);
      }

      &:hover:after {
        background-color: lighten($blue,25%);
      }
    }
  }
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.social-link {
  font-size: 32px;
  padding: 5px 5px 10px;
  display: block;
}

.copy {
  padding: 15px 0 0;
}
