.social-link,
.to-top {
  font-family: $icon;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &:before {
    display: none;
  }

  @include mq(700px) {
    background: none;
  }

  @include mq(980px) {
    transition: 0.3s ease-in-out;

    &:hover {
      color: lighten($blue,25%);
    }
  }
}

.to-top {
  position: fixed;
  bottom: 15px;
  right: 15px;
  font-size: 40px;
  background-color: $white;
  border-radius: 25px;
  box-shadow: 0 2px 4px $white;
  color: $pink;

  &:after {
    display: none;
  }

  @include mq(980px) {
    &:hover {
      color: $pink;
    }
  }
}

.icon-hamburger {
  display: block;
  padding: 20px 30px;
  width: 50px;
  height: 50px;
  position: relative;
  z-index: 1;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;

  @include mq(700px) {
    display: none;
  }

  span {
    display: block;
    position: absolute;
    height: 3px;
    width: 20px;
    background: $black;
    opacity: 1;
    left: 15px;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;

    &:nth-child(1) {
      top: 15px;
    }

    &:nth-child(2),
    &:nth-child(3) {
      top: 23px;
    }

    &:nth-child(4) {
      top: 31px;
    }
  }

  &.is-active span,
  .is-active & span {
    background-color: $white;

    &:nth-child(1) {
      top: 23px;
      width: 0;
      left: 50%;
    }

    &:nth-child(2) {
      transform: rotate(45deg);
    }

    &:nth-child(3) {
      transform: rotate(-45deg);
    }

    &:nth-child(4) {
      top: 23px;
      width: 0;
      left: 50%;
    }
  }
}

.icon-border {
  position: relative;
  font-size: 17px;
  line-height: 32px;
  width: 42px;
  height: 47px;
  padding-left:13px;

  &:after {
    content: 'border';
    position: absolute;
    font-size: 32px;
    top: 5px;
    left: 5px;
    right: 5px;
  }
}

.download:after {
  content: '\e903';
  margin-left: 5px;
  font-family: $icon;
}

.icon-list {
  display: flex;
  flex-direction: column;
  margin-top: -20px;

  @include mq(900px) {
    flex-direction: row;
  }

  li {
    padding: 20px 0;
    display: flex;

    @include mq(900px) {
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      text-align: center;
      width: 33.3%;
    }
  }

  span + span {
    padding-left: 20px;

    @include mq(900px) {
      padding: 20px 10px 0;
    }
  }
}

.svg-wrap {
  display: block;
  min-width: 37px;
  width: 37px;
  height: 37px;

  svg {
    width: 100%;
    height: 100%;
    fill: $purple;

    > g {
      transform: scale(0.1);
    }
  }
}
